footer.footer
  .social-icons
    a(href="https://www.facebook.com/khiem.nguyenthe.7140/") 
      i.fab.fa-facebook
    a(href="https://www.instagram.com/lixtas_1408/") 
      i.fab.fa-instagram
    a(href="https://github.com/thekhiem14") 
      i.fab.fa-github
    a(href="https://www.linkedin.com/in/khiem-nguyen-the-b3a917269/") 
      i.fab.fa-linkedin-in
    a(href="mailto:nguyenthekhiem148@gmail.com") 
      i.fa-solid.fa-envelope
  .copyright
    | Copyright ©2025, Designed by #{general.copyright} 
