.sider
  .inner-menu
    ul 
      li
        a(href="/admin/dashboard") Tổng quan 
      li 
        a(href="/admin/product-category") Danh mục sản phẩm
      li 
        a(href="/admin/product") Danh sách sản phẩm